@CHARSET "ISO-8859-1";
body{
	text-align:center;
}
#fet{
	 width:100%;
	 height:100%;
}
#fet a{
	COLOR:white;
}
#fet table{
	background-color:black;
}
#fet table #head{
	font-size:25px;
	color:white;
}
#fet table #res{
	color:pink;
}
#fet table #res 
#suc{
	 background-Image:url("img/1.jpg");
	 width:100%;
	 height:100%;
}
#success h1{
	color:#00ff00;
	
}
#success a{
    text-decoration:none;
    color:#00ff00;
}